body {
  background-color: white;
  font-family: Helvetica;
  margin: 15% 15%; 
}

.exp-header {
  text-transform: uppercase;
  border-top: 2px solid;
  text-align: center;
}


ul {
  padding-bottom: 5%;
}


img {
  padding-bottom: 5%;
  width: 450px;
  height: 250px;
}

h2 {
  font-size: 20px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
