body {
  background-color: 336666;
  color: #FFFFFF;
  font-family: Helvetica;
  margin: 15% 15%; 
  background-color: #666666
}

.exp-header {
  text-transform: uppercase;
  border-top: 2px solid;
  text-align: center;
}


a { 
  color: #66FFCC
}


h1 {
  text-align: center;
  border-top: 1px solid #00CCCC;
  border-bottom: 1px solid #00CCCC;
  background-color: #00CCCC; 
  border-radius: 15px 50px 30px 5px;
}


ul {
  padding-bottom: 5%;
}


h2 {
  font-size: 20px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
