body {
  color: #000000;
  font-family: Helvetica;
  margin: 15% 15%;
  background-color: #666666
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.item {
 padding: 8px;
 background-color: #99999
 border: 4px solid #99999
 border-radius: 6px;
 box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25)
}


.exp-header {
  text-transform: uppercase;
  border-top: 2px solid;
  text-align: center;
}


a { 
  color: #0000CC
}


h1 {
  text-align: left;
  
  
}


ul {
  padding-bottom: 5%;
}


h2 {
  font-size: 20px;
  border-bottom: 2px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-top: 1px solid #00CCCC;
  border-bottom: 1px solid #00CCCC;
  background-color: #00CCCC; 
  border-radius: 15px 50px 30px 5px;
  animation-duration: 3s;
  animation-name: slidein;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
